<?xml version="1.0" encoding="UTF-8"?>
<suite name="FundooNoteTesting">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
  <listeners>
		<listener class-name="com.bridgelabz.utilities.Reporting" />
	</listeners>
   	 <classes>
   	 	<class name="com.bridgelabz.notetest.TC_CreateNote_01"/>
     	<!--  <class name="com.bridgelabz.usertest.TC_LoginTest_01"/> -->
     	<!--  <class name="com.bridgelabz.usertest.TC_LoginDDT_02"/> -->
   		<!-- <class name="com.bridgelabz.usertest.TC_Registration_01"/> -->
     	<!-- <class name="com.bridgelabz.usertest.TC_Registration_02"/> --> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
